<div class="vw-my-articles">
    <!-- Section header: MyComments-->
    <h1 class="thick-small-title">My comments:</h1>

    <!-- Every comment that the user has posted: -->
    @foreach (Comment comment in ViewBag.UserComments)
    {
        <div class="vw-article-comment">
            <div>
                <div class="vw-comment-author vw-comment-author-article">On <a href="/articles/show/@comment.ArticleID">this article</a> ...</div>
                <div class="vw-comment-content">
                    @comment.Content
                </div>
            </div>

            <div class="vw-sidebar-category-edit">

                <form method="GET" action="/comments/edit/@comment.CommentID">
                    <button type="submit"><img src="/Images/Icons/edit.png" alt="edit"></button>
                </form>

                <form method="POST" action="/comments/delete/@comment.CommentID">
                    <button type="submit"><img src="/Images/Icons/delete.png" alt="delete"></button>
                </form>
            </div>
        </div>

    }

</div>