/* GENERAL CLASSES */
.vw-centeralized {
    display: flex;
    align-items: center;
}

.vw-centeralized img{
    margin-right: 4px;
    width: 30px;
}

.vw-mainbar {
    background: var(--top-gradient);
    overflow-y: scroll;
    padding: 32px;
}

/* ARTICLES LINK GRID */

.vw-articles-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 16px;
}

/* ARTICLE IN GRID */

.vw-article-link {
    background-color: var(--color-stroke);
    background-image: linear-gradient(to bottom, transparent, var(--bottom-gradient)), url("/images/article-wave.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25vh;
    padding: 16px;
    border-radius: 16px;
}

.vw-article-link-category {
    color: var(--color-stroke);
    margin-bottom: 4px;
}

.vw-article-link-title {
    font-size: 1.8em;
    color: var(--text-primary);
    margin-bottom: 16px;
    text-decoration: none;
}

    .vw-article-link-title:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.vw-article-link-category,
.vw-article-link-title {
    font-weight: 600;
}

.vw-article-link-editor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
}

.vw-article-link-editor a{ text-decoration: none;}

.vw-article-link-date {
    color: var(--text-secondary)
}

/* //////////////
ACTUAL ARTICLE
////////////// */

.vw-article-title {
    font-size: var(--XL-text);
    font-weight:800;
    color: var(--color-stroke);
}

.vw-article-author,
.vw-chapter-title {
    font-size: var(--M-text);
    font-weight: 800;
    color: var(--color-menu);
}

.vw-chapter-title{ text-align: left;}

.vw-article-details {
    font-size: var(--S-text);
    color: var(--text-secondary);
}

.vw-article p {
    color: var(--text-primary);
}

/* COMMENT */
.vw-article-comment {
    padding: 16px;
    border-top: 1px solid var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vw-comment-author {
    color: var(--text-secondary);
    font-weight: 600;
    margin-bottom: 4px;
}

.vw-comment-author a {
    color: var(--color-stroke);
    text-decoration: none;
    font-style: italic;
}

.vw-comment-author span {
    margin-left: 8px;
    font-weight: normal;
}

.vw-comment-content {
    color: var(--text-primary);
}

/* ADD COMMENT */

.vw-article-add-comment {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

    .vw-article-add-comment textarea {
        flex: 1;
        padding: 16px;
        resize: none;
    }

/* ADD COMMENTS BTNS */
.vw-article-add-comment-btns {
    display: flex;
    justify-content: flex-end;
}

    .vw-article-add-comment-btns .btn-delete,
    .vw-article-add-comment-btns .btn-add {
        margin-top: 8px;
        margin-left: 8px;
    }

.btn-delete:hover,
.btn-add:hover {
    cursor: pointer;
}

/* FILTER OPTIONS */
.articles-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 8px;
    margin-bottom: 16px;
}

.articles-filter-btns {
    display: flex;
}

.btn-filter img {
    height: 40px;
    width: 40px;
}

.btn-filter:nth-child(2) {
    margin-left: 16px;
}

/* PAGINATION */
.vw-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.vw-pagination {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 50vw;

    border-radius: 8px;
    border: 2px solid #4f4e4e;
    padding: 8px;

}

.vw-page-link {
    color: white;
    text-decoration: none;
}

    .vw-page-link:hover {
        text-decoration: underline;
    }