
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<form action="" class="vw-log-sign-form">
    <label for="Email" class="vw-log-sign-label">Email:</label>
    <input type="text" name="Email">

    <label for="Password" class="vw-log-sign-label">Password:</label>
    <input type="text" name="Password">

    <button class="btn-basic btn-log-sign" type="submit">
        Log in
    </button>
</form>

