@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    ViewData["Title"] = "Register";
}

<div class="vw-form vw-form-log-sign">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account:</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- FIRST NAME & LAST NAME FIELDS-->
            <div class="vw-form-groups">
                <div class="vw-form-groups-items">
                    <label asp-for="Input.FirstName" class="vw-log-sign-label"></label>
                    <input asp-for="Input.FirstName" aria-required="true" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="vw-form-groups-items">
                <label asp-for="Input.LastName" class="vw-log-sign-label"></label>
                <input asp-for="Input.LastName" aria-required="true" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>

            <!-- NICKNAME -->
            <div class="vw-form-groups-items">
                <label asp-for="Input.NickName" class="vw-log-sign-label"></label>
                <input asp-for="Input.NickName" aria-required="true" />
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>


            <!-- EMAIL -->
            <div class="vw-form-groups-items">
                <label asp-for="Input.Email" class="vw-log-sign-label"></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- PASSWORD CONFIRMATION-->
            <div class="vw-form-groups">
                <div class="vw-form-groups-items">
                    <label asp-for="Input.Password" class="vw-log-sign-label"></label>
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="vw-form-groups-items">
                    <label asp-for="Input.ConfirmPassword" class="vw-log-sign-label"></label>
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <!-- Implicit values for JoinDate & ShowPublicIdentity-->
            <button id="registerSubmit" type="submit" class="btn-basic btn-log-sign">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
