@model Everything2Everyone.Models.Category

<h1 class="small-title">Edit category:</h1>
@using (Html.BeginForm(actionName: "Edit",
                   controllerName: "Categories",
                   method: FormMethod.Post,
                   routeValues: new { CategoryID = @Model.CategoryID })){
    <div style="display: flex; align-items: center;">
        <input name="Title" type="text" value="@Model.Title" placeholder="Type a new name for this category..." />
        <button type="submit" class="btn-basic btn-edit" style="margin-left: 8px;">Edit</button>
    </div>
}

