<!-- ARTICLES GRID, 2 COLUMNS -->
<div class="vw-articles-links">

    <!-- ARTICLE ELEMENT -->
    <div class="vw-article-link">
        <div class="vw-article-link-category">CATEGORY</div>
        <a class="vw-article-link-title" href="#">ARTICLE TITLE</a>
        <div class="vw-article-link-editor">
            <p>OLAERIU VLAD MIHAI</p>
            <div class="vw-article-link-date">November 22, 2022</div>
        </div>
    </div>

    <!-- ARTICLE ELEMENT -->
    <div class="vw-article-link">
        <div class="vw-article-link-category">CATEGORY</div>
        <a class="vw-article-link-title" href="#">ARTICLE TITLE</a>
        <div class="vw-article-link-editor">
            <p>OLAERIU VLAD MIHAI</p>
            <div class="vw-article-link-date">November 22, 2022</div>
        </div>
    </div>

    <!-- ARTICLE ELEMENT -->
    <div class="vw-article-link">
        <div class="vw-article-link-category">CATEGORY</div>
        <a class="vw-article-link-title" href="#">ARTICLE TITLE</a>
        <div class="vw-article-link-editor">
            <p>OLAERIU VLAD MIHAI</p>
            <div class="vw-article-link-date">November 22, 2022</div>
        </div>
    </div>

    <!-- ARTICLE ELEMENT -->
    <div class="vw-article-link">
        <div class="vw-article-link-category">CATEGORY</div>
        <a class="vw-article-link-title" href="#">ARTICLE TITLE</a>
        <div class="vw-article-link-editor">
            <p>OLAERIU VLAD MIHAI</p>
            <div class="vw-article-link-date">November 22, 2022</div>
        </div>
    </div>

</div>
