<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Everything2Everyone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Everything2Everyone.styles.css" asp-append-version="true" />

    <!--
        Font families:
        - Source Sans Pro
        - Rubik Glitch
    -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- General CSS -->
    <link rel="stylesheet" href="~/css/resetsheet.css">
    <link rel="stylesheet" href="~/css/vw-style.css">
    <link rel="stylesheet" href="~/css/vw-forms.css">

    <!-- Elements CSS -->
    <link rel="stylesheet" href="~/css/Bars/navbar.css">
    <link rel="stylesheet" href="~/css/Bars/sidebar.css">
    <link rel="stylesheet" href="~/css/Bars/mainbar.css">
    <link rel="stylesheet" href="~/css/Users/users.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- AOS animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <div class="vw-navbar">
        <div class="vw-navbar-logo">
            <a href="/Articles/Index/filter-sort"><img src="/Images/Logo/Logo.svg" alt="logo"></a>
        </div>
        <div class="vw-navbar-search">
            <form action="" class="navbar-search">
                <input type="text" placeholder="Search" class="input-search">
                <button type="submit" class="btn-search">
                    <img src="/Images/Icons/search.png" alt="search">
                </button>
            </form>
        </div>
        <partial name="_LoginPartial" />
    </div>

    <div class="vw-main">
        <!-- SIDEBAR CATEGORIES -->
        <partial name="Menu.cshtml" model='new Category { Title = "" }' />

        <!-- MAIN SECTION -->
        <div class="vw-mainbar">

            @RenderBody()

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- AOS initialization-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        const alert_msg = document.querySelector(".alert-message");
        setTimeout(() => {
            $(".alert-message").fadeOut(2000);
        }, 3000);

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
