<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
        Font families:
        - Source Sans Pro
        - Rubik Glitch
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">


    <!-- General CSS -->
    <link rel="stylesheet" href="~/css/resetsheet.css">
    <link rel="stylesheet" href="~/css/vw-style.css">
    <link rel="stylesheet" href="~/css/vw-forms.css">

    <!-- Elements CSS -->
    <link rel="stylesheet" href="~/css/Register/login.css">

    <title>EverythingToEveryone</title>
</head>

<body>

    <div class="vw-log-sign">
        <div class="vw-log-sign-message">
            <a href="/"><img src="/Images/Logo/logo.svg" alt=""></a>
            <div class="vw-message-welcome">Start spreading your knowledge and experience.</div>
            <div class="vw-message-small-welcome">E2E ('Everything2Everyone') is a Crowd Knowledge Contribution and Distribution platform, designed for like-minded individuals of all kinds.</div>
            <br/>
            <div class="vw-message-small-welcome">The app is structured around articles which belong to various categories you can pick and choose from, just like a forum (but it is definitely not a forum!).</div>
            <br />            
            <div class="vw-message-small-welcome">Multiple chapters are associated with every article and a versioning system was specifically designed with article management in mind.</div>
            <br />
            <div class="vw-message-small-welcome">Every user can share their thoughts and further enrich the content of an article by posting comments in the dedicated section of each article.</div>
            <br/>
            <div class="vw-message-small-welcome">This application was designed and built as an assignment for the Web Development course of the Computer Science department of the University of Bucharest.</div>
        </div>
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>