@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="vw-navbar-links">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="btn-basic btn-new">
            <a href="/Articles/New">NEW +</a>
        </div>

        <div class="dropdown">
            <button class="btn-drop">Profile</button>
            <div class="dropdown-content">
                <a href="/Users/MyProfile">Profile</a>
                <a href="/Comments/MyComments">My comments</a>
                <a href="#">My articles</a>
                <a href="/Users/Index">Manage users</a>
                <form style="background-color: var(--delete); color: var(--text-primary); display:flex; align-items: center; justify-content: center;" 
                        asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark" style="text-align:center;">Logout</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="btn-basic btn-sign-up">
            <a asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        </div>
        <div class="btn-basic btn-log-in">
            <a asp-area="Identity" asp-page="/Account/Login">Log In</a>
        </div>
    }
</div>
