@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="vw-navbar-links">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (this.User.IsInRole("Administrator") || this.User.IsInRole("Editor")){
            <div class="btn-basic btn-new">
                <a href="/Articles/New">NEW +</a>
            </div>
        }

        <div class="dropdown">
            <button class="btn-drop"><img src="~/images/Icons/profile-icon.svg" /></button>
            <div class="dropdown-content">
                <a href="/users/edit/@User.FindFirst(ClaimTypes.NameIdentifier).Value">Profile</a>
                <a href="/comments/my-comments">My comments</a>
                <a href="/articles/index/?userSpecificMode=1">My articles</a>

                <!-- Display user management link only for administrators-->
                @if (this.User.IsInRole("Administrator"))
                {
                    <a href="/users/index">Manage users</a>
                }

                <form style="background-color: var(--delete); color: var(--text-primary); display:flex; align-items: center; justify-content: center;" 
                        asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark" style="text-align:center;">Logout</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="btn-basic btn-sign-up">
            <a asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        </div>
        <div class="btn-basic btn-log-in">
            <a asp-area="Identity" asp-page="/Account/Login">Log In</a>
        </div>
    }
</div>
