@model Everything2Everyone.Models.Category

@if (ViewBag.GlobalCategories != null)
{
<div class="vw-sidebar">
    <div class="small-title">Categories</div>

    @using (Html.BeginForm(actionName: "New",
        controllerName: "Categories",
        method: FormMethod.Post,
        new { @class = "vw-sidebar-form" }))
    {

        @Html.TextBox("Title", null)
        <button type="submit">+</button>
    }

    @foreach (var category in ViewBag.GlobalCategories)
    {
        <!-- CATEGORY ELEMENT -->
        <div class="vw-sidebar-category-container">
            <a href="/articles/index/?categoryID=@category.CategoryID" class="universal-link" style="color: white;">@category.Title</a>
            <div class="vw-sidebar-category-edit">

                @using (Html.BeginForm(actionName: "Edit",
               controllerName: "Categories",
               method: FormMethod.Post,
               routeValues: new { CategoryID = @category.CategoryID }))
                {
                    <button type="submit"><img src="/Images/Icons/edit.png" alt="edit"></button>
                }


                @using (Html.BeginForm(actionName: "Delete",
               controllerName: "Categories",
               method: FormMethod.Post,
               routeValues: new { CategoryID = @category.CategoryID }))
                {
                    <button type="submit"><img src="/Images/Icons/delete.png" alt="delete"></button>
                }

            </div>
        </div>
    }

</div>
}