<partial name="ErrorMessagePartial" />

<div class="vw-user-profile">
    <a href="/users/edit/@ViewBag.UserProfile.Id" id="edit-profile__img">
        <img src="~/images/Icons/edit.png">
    </a>

    <div class="vw-user-profile__info">
        <img src="~/images/profile-default.svg" alt="image">
        <div class="profile__info">
            <h1 class="vw-article-title">@ViewBag.UserProfile.FirstName @ViewBag.UserProfile.LastName</h1>
            <div style="display: flex; justify-content: space-between;">
                <h3 class="vw-article-author">@ViewBag.UserProfile.NickName</h3>
                <h3 class="vw-article-author">Rolul</h3>
            </div>
            <h3 class="vw-article-details">@ViewBag.UserProfile.Email</h3>
        </div>
    </div>
    
    <div class="vw-user-profile__btns">
        <a href="#">My articles</a>
        <a href="/comments/my-comments">My comments</a>
        <a href="/users/change-password/@ViewBag.UserProfile.Id">Change password</a>
        <a href="/users/change-email/@ViewBag.UserProfile.Id">Change email</a>
    </div>

</div>